.leftside{
    width: 40%;
    height: 100vh;
}
.rightside{
    width: 60%;
    height: 100vh;
}
.IMGGG img {
    width: 600px;
    height: 600px;
}
.pos{
    position: relative;
    margin-bottom: 500px;
}
